@import url('https://fonts.googleapis.com/css2?family=Orbitron');
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Adamina', serif;
    line-height: 1.75em;
    font-size: 20px;
    font-weight: 600;
    background: #222;
    color: #aaa;
    margin: 0;
}

summary {
    margin-bottom: .5rem;
}

summary:hover {
    color: #ccc;
}

summary,
details {
    font-size: xx-large;
    list-style: none;
    text-align: center;
    letter-spacing: 0.2rem;
    padding-top: .4rem;
}

summary::-webkit-details-marker {
    display: none; /* Chrome */
}

button,
a,
summary {
    cursor: pointer;
}


  
  

button {
    padding: 0 1rem 0 1rem;
    border-top: 0;
    border-bottom: 0;
    border-left: solid rgba(28, 28, 66, 0.479) .25rem;
    border-right: solid rgba(28, 28, 66, 0.473) .25rem;
    border-radius: 0.70rem;
    background: rgb(59, 59, 59, 0);
    color: #aaa;
    font-size: x-large;
    letter-spacing: 0.2rem;
    font-weight: bold;
    transition: .5s;
}

button:hover,
button:active {
    background: rgb(97, 97, 97);
    color: #fff;

}

object {
    height: 85vh;
    width: 100%;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    height: 15vh;
    width: 100vw;
    background: rgba(0, 128, 128, 0);
}

#nav {
    z-index: 1;
    position: fixed;
    top: 15vh;
    left: 0vw;
    width: 0vw;
    height: 85vh;
    background: rgba(59, 59, 59, 0.8);
    transition: all 0.2s ease 0.1s;
}

#nav > * {
    z-index: -1;
    transition: z-index 0.1s ease 0.1s;
}

#main {
    z-index: 1;
    position: fixed;
    top: 15vh;
    left: 0vw;
    height: 85vh;
    width: 100vw;
    background: gray;
    transition: all 0.1s ease 0.1s;
}

#aside {
    z-index: 2;
    position: fixed;
    top: 15vh;
    right: 0;
    width: 0vw;
    height: 85vh;
    background: yellowgreen;
    transition: all 0.1s ease 0.1s;
}

#footer {
    z-index: 2;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 0vh;
    background: tomato;
    transition: all 0.1s ease 0.1s;
}

section {
    margin: 1rem;
    padding: 1rem;
}

aside > a {
    padding: .5rem;
}

.titled {
    font-size: 3.5rem;
    letter-spacing: 0vw;
    font-family: 'Orbitron', sans-serif;
}

#header {
  animation: animateBg 30s linear infinite;
  background-image: linear-gradient(0deg,#cf5c5c,#c19b4a,#def2a0,#c6ee4a,#42eca6,#64b3d9,#208ea2,#498ada,#5b73df,#897ed3,#cf5c5c,#c19b4a);
  background-size: 100% 1100%;

}
@keyframes animateBg {
  0% { background-position: 0% 0%; }
  100% { background-position: 0% 100%; }
}

button:hover {
    animation: animateButton 10s linear infinite;
    background-image: linear-gradient(0deg,#cf5c5c,#c19b4a,#def2a0,#c6ee4a,#42eca6,#64b3d9,#208ea2,#498ada,#5b73df,#897ed3,#cf5c5c,#c19b4a);
    background-size: 100% 2200%;

  }
  @keyframes animateButton {
    0% { background-position: 0% 0%; }
    100% { background-position: 0% 100%; }
  }